.App {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto 2fr 5fr;
  grid-template-areas:
    "header header"
    "main sidebar"
    "main footer";
  width: 980px;
  margin: auto;
  padding: 5em;
}
