.container {
  padding-bottom: 1em;
  border-bottom: 2px solid #D3D3D3;
}

.profile {
  height: 4em;
  border: 2px solid grey;
  border-radius: 50%;
}

.icon {
  margin: 5px;
  font-size: 1.2em;
  color: #333535;
}

.icon:hover {
  color: #DB4D3F;
}

.resume-profile {
  line-height: 1.4em;
}